/* body, html, #root {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
} */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #fff;
}

.hero-content {
  max-width: 400px;
  text-align: left;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
}

.hero-content p {
  font-size: 16px;
  margin: 20px 0;
}

.explore-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.image-card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.image-grid .image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
}

