
.section1-card {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.section1-text {
  height: auto;
  max-width: 700px;
  transform: translate(220px, 65px);
  z-index: 100;
}

.section2-card {
  display: flex;
 justify-content: center;
  align-items: center;
} 

.sec2-img{
flex-basis: 30%;
transform: translate(0px, -80px);
}
.section2-text{
  flex-basis: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px 80px;
  background-color: rgb(207, 216, 216, 0.9);
  border-radius: 120px;
transform: translate(-90px, 0px);
}

.section2-text h1 {
 font-size: 20px;
 font-weight: 700;
} 
.section2-text h2 {
  border-bottom: 3px solid #353d32;
  width: 27px;
  margin: 15px 0px;
} 


